{{>header}}

<div class="meme-details">
    <div class="my-meme-details">
        <a href="#" id="meme-title">{{title}}</a>
        <img src="{{imageUrl}}">
        <div class="meme-props">
            <h2>Description</h2>
            <p class="meme-description"> {{description}} </p>
        </div>

        <div class="meme-details-buttons">
            <a class="meme-details-button" href="#/user/profile/:{{creatorId}}">Created by {{creator}}</a>

            {{#if isCreator}}
            <a href="#/items/edit/:{{itemId}}" class="meme-details-button">Edit</a>
            <a href="#/items/delete/:{{itemId}}" class="meme-details-button">Delete</a>
            {{/if}}
        </div>


    </div>
</div>

{{>footer}}