{{>header}}

<div class="user-profile">

    <img id="user-avatar-url" src="{{avatarUrl}}" alt="user-profile">
    <h1>{{username}}</h1>
    <h2>{{email}}</h2>

    {{#if isThisUserLoggedIn}}
    <a id="deleteUserButton" href="#/user/profile/:{{userId}}/delete">DELETE USER!</a>
    {{/if}}

    <p id="user-listings-title">User Memes</p>
    <div class="user-meme-listings">

        {{#if items}}

        {{#each items}}
        <div class="user-meme">
            <a href="#/items/details/:{{_id}}" class="user-meme-title">{{title}}</a>
            <a href="#/items/details/:{{_id}}"> <img class="userProfileImage" src="{{imageUrl}}"></a>

            {{#if isCreator}}
            <div class="user-memes-buttons">
                <a href="#/items/edit/:{{_id}}" class="user-meme-btn">Edit</a>
                <a href="#/items/delete/:{{_id}}" class="user-meme-btn">Delete</a>
            </div>
            {{/if}}

        </div>
        {{/each}}

        {{else}}
        <p class="no-memes">No memes in database.</p>
        {{/if}}
    </div>

</div>

{{>footer}}