<h1>Welcome to Doner Place!</h1>
<p>We offer a wide variety of tasty doner kebab, cutosmized to your liking. Choose from different sizes of chicken, beef
    and lamb and any topping you want. Place your order now!</p>
<div class="products">

    {{#if isAdmin}}
    <h2>Admin</h2>
    <div class="product-card">
        <img src="img/new.png">
        <a href="/doner/create" class="button product-title">Create Product</a>
    </div>
    {{/if}}

    {{#each doners}}
    <h2>{{category}} Doner</h2>

    <div class="product-card">
        <img src={{imageUrl}}>
        {{#if ../isAdmin}}
        <a href="/doner/edit/{{this._id}}" class="control"><img class="control-img" src="img/edit.png"></a>
        <a href="/doner/delete/{{this._id}}" class="control"><img class="control-img" src="img/delete.png"></a>
        {{else}}
        <a href="/order/doner/{{_id}}" class="button product-title">Order</a>
        {{/if}}
    </div>
    {{/each}}
</div>