<div id="meme-feed">
    <h1>Meme Feed</h1>
    <div id="memes">

        {{#if items}}

        {{#each items}}
        <div class="meme">
            <a href="#/items/details/:{{_id}}" class="meme-title">{{title}}</a>
            <br>
            <a href="#/items/details/:{{_id}}"><img class="meme-image" src="{{imageUrl}}"></a>

            <div class="info">
                <div id="data-buttons">
                    <a href="#/items/details/:{{_id}}" class="custom-button">Check Out</a>

                    {{#if isCreator}}
                    <a href="#/items/edit/:{{_id}}" class="custom-button">Edit</a>
                    <a href="#/items/delete/:{{_id}}" class="custom-button">Delete</a>
                    {{/if}}

                    <a href="#/user/profile/:{{userId}}" class="creator">Creator: {{creator}}</a>
                </div>
            </div>
            <hr>
        </div>
        {{/each}}

        {{else}}
        <p class="no-memes">No memes in database.</p>
        {{/if}}
    </div>
</div>