<div id="car-listings">
    <h1>Car Listings</h1>

    <div id="listings">
        {{#if cars}}

        {{#each cars}}
        <div class="listing">
            <p>{{title}}</p>
            <img src="{{imageUrl}}">
            <h2>Brand: {{brand}}</h2>
            <div class="info">
                <div id="data-info">
                    <h3>Seller: {{seller}}</h3>
                    <h3>Fuel: {{fuelType}}</h3>
                    <h3>Year: {{year}}</h3>
                    <h3>Price: {{price}} $</h3>
                </div>
                <div id="data-buttons">
                    <ul>
                        <li class="action">
                            <a href="#/cars/details/:{{_id}}" class="button-carDetails">Details</a>
                        </li>

                        {{#if isCreator}}
                        <li class="action">
                            <a href="#/cars/edit/:{{_id}}" class="button-carDetails">Edit</a>
                        </li>
                        <li class="action">
                            <a href="#/cars/delete/:{{_id}}" class="button-carDetails">Delete</a>
                        </li>
                        {{/if}}

                    </ul>
                </div>
            </div>
        </div>
        {{/each}}

        {{else}}
        <p class="no-cars">No cars in database.</p>
        {{/if}}
    </div>
</div>