<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Cool Blog System</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="nav">
        <ul class="menu">
            <li> <a href="/">Home</a> </li>

            {{#if user}}
            <li class="right"> <a href="/user/logout">Logout</a> </li>
            <li class="right">Welcome, {{user.username}}!</li>

            {{else}}
            <li class="right"> <a href="/user/register">Register</a> </li>
            <li class="right"> <a href="/user/login">Login</a> </li>
            {{/if}}
        </ul>
    </div>

    {{#if error}}
    <div class="error"> {{error}} </div>
    {{/if}}

    {{#if message}}
    <div class="message"> {{message}} </div>
    {{/if}}

    {{{body}}}

</body>

</html>